# Salesforce / SFDX / CCI
.cci
.sfdx
/src.orig
/src
.localdevserver
.eslintcache

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/


# Python
*.pyc
__pycache__

# Robot Framework results
robot/lwc-redux/results/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings

# Misc
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
